html {
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Main Banner - picture and text block */
.main-banner {
    background-image: url(../glasses-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}

/* Within the main banner - logo and menu */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color:  white;
    margin-top: 1rem;
    font-size: 1rem;
}

.header-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-large li {
    margin-right: 2rem;
    display: inline;
}

.logo img {
    height: 1.5rem;
    margin-right: 1rem;
}

.logo {
    display: inline;
    margin-left: 2rem;
}

.headline {
    background-color: white;
    margin-top: 10rem;
    margin-left: 450px;
    width: 40rem;

}

.headline h1 {
    line-height: 1.2;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    font-weight: bold;
}

.menu-small{
    display: none;
}

/* Media Queries for the main header */
@media only screen and (max-width: 470px)
{
    .menu-small {
        display: inline;
    }
    .menu-large {
        display: none;
    }
}

/* Offerings */

.offering-container {
/*    border: 1px solid red; */

    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}

.offering-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    width: 5rem;
}

/* Individual Items */

.item-paper img {
    width: 3.5rem;
}
.item-ruler img, .item-truck img {
    width: 5rem;
}

@media only sceen and (max-width: 470) {
    .offering-container {
        flex-direction: column;
        margin-top: 3.77rem;
    }

    .offering-container {
        margin-top: 1.54rem;
    }
}

/* Info Blocks */
.info-container {
    display: flex;
    margin-bottom: 5rem;
}

.info-item {
    width: 35%;
    margin-right: 5%;
}

.info-heading {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 10rem;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/* Footer */

.footer-container {
    display: flex;
    background-color: azure;
    align-items: center;
}

.footer-container img, .footer-container span{
    height: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer-container img {
    margin-left: 4rem;
}

.footer-container span {
    margin-left: 1rem;
}